
h2{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    font-size:14px;
    padding: 5px 5px 5px 5px;
    background-color:white;
    list-style-type: none;
    text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  margin: 20px 0px;
}
div {
    background-color: purple;
    padding: 20px;
    border-radius: 50px;
}
span{
  background-color: #34495e;
  color: #ECF0F1;
  padding: 20px
}
a {
    background-color: purple;
    padding: 20px;
    border-radius: 50px;
}